<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rv150.notes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBarLight">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/all_notes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.EditingActivity"
            android:label="@string/adding_note">
        </activity>

        <activity
            android:name=".Activities.ViewingActivity"
            android:label="@string/viewing_note">
        </activity>

        <activity
            android:name=".Activities.PrefActivity"
            android:label="@string/settings">
            <intent-filter>
                <action android:name=".Preferences" />
                <category android:name="android.intent.cetagory.PREFERENCE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.AboutActivity"
            android:theme="@android:style/Theme.Translucent"
            android:label="@string/about">
        </activity>

    </application>

</manifest>